<div id="main" class="body-wrapper">
  <div class="body-wrapper-inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div class="card w-100">
            <div class="card-body">
              <div class="d-md-flex align-items-center">
                <div>
                  <h4 class="card-title">Tổng quan bán hàng</h4>
                  <p class="card-subtitle">
                    Quản trị Ample so với Quản trị Pixel
                  </p>
                </div>
                <div class="ms-auto">
                  <ul class="list-unstyled mb-0">
                    <li class="list-inline-item text-primary">
                      <span
                        class="round-8 text-bg-primary rounded-circle me-1 d-inline-block"
                      ></span>
                      Ample
                    </li>
                    <li class="list-inline-item text-info">
                      <span
                        class="round-8 text-bg-info rounded-circle me-1 d-inline-block"
                      ></span>
                      Pixel
                    </li>
                  </ul>
                </div>
              </div>
              <div id="sales-overview" class="mt-4 mx-n6"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card overflow-hidden">
            <div class="card-body">
              <div class="d-flex align-items-start">
                <div>
                  <h4 class="card-title">Thống kê hàng tuần</h4>
                  <p class="card-subtitle">Doanh số trung bình</p>
                </div>
              </div>
              <div class="mt-4 pb-3 d-flex align-items-center">
                <span
                  class="btn btn-primary rounded-circle round-48 hstack justify-content-center"
                >
                  <i class="fa-solid fa-cart-shopping"></i>
                </span>
                <div class="ms-3">
                  <h5 class="mb-0 fw-bolder fs-5">Doanh số hàng đầu</h5>
                  <span class="text-muted fs-7">Nguyễn Thị X</span>
                </div>
                <div class="ms-auto">
                  <span class="badge bg-secondary-subtle text-muted">+68%</span>
                </div>
              </div>
              <div class="py-3 d-flex align-items-center">
                <span
                  class="btn btn-warning rounded-circle round-48 hstack justify-content-center"
                >
                  <i class="fa-solid fa-star"></i>
                </span>
                <div class="ms-3">
                  <h5 class="mb-0 fw-bolder fs-5">Bán chạy nhất</h5>
                  <span class="text-muted fs-7">Quản trị Nguyễn Quang A</span>
                </div>
                <div class="ms-auto">
                  <span class="badge bg-secondary-subtle text-muted">+68%</span>
                </div>
              </div>
              <div class="py-3 d-flex align-items-center">
                <span
                  class="btn btn-success rounded-circle round-48 hstack justify-content-center"
                >
                  <i class="fa-solid fa-message"></i>
                </span>
                <div class="ms-3">
                  <h5 class="mb-0 fw-bolder fs-5">Bình luận nhiều nhất</h5>
                  <span class="text-muted fs-7">Quản trị Nguyễn Thanh B</span>
                </div>
                <div class="ms-auto">
                  <span class="badge bg-secondary-subtle text-muted">+68%</span>
                </div>
              </div>
              <div class="pt-3 mb-7 d-flex align-items-center">
                <span
                  class="btn btn-secondary rounded-circle round-48 hstack justify-content-center"
                >
                  <i class="fa-solid fa-diamond"></i>
                </span>
                <div class="ms-3">
                  <h5 class="mb-0 fw-bolder fs-5">Ngân sách hàng đầu</h5>
                  <span class="text-muted fs-7">Nguyễn Thanh C</span>
                </div>
                <div class="ms-auto">
                  <span class="badge bg-secondary-subtle text-muted">+15%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-md-flex align-items-center">
                <div>
                  <h4 class="card-title">Sản phẩm bán chạy nhất</h4>
                  <p class="card-subtitle">
                    Thống kê 5 sản phẩm bán chạy nhất trong tháng này
                  </p>
                </div>
                <div class="ms-auto mt-3 mt-md-0">
                  <select
                    class="form-select theme-select border-0"
                    aria-label="Chọn khoảng thời gian"
                  >
                    <option value="1">Tháng 3 năm 2025</option>
                    <option value="2">Tháng 4 năm 2025</option>
                    <option value="3">Tháng 5 năm 2025</option>
                  </select>
                </div>
              </div>

              <div class="table-responsive mt-4">
                <table
                  class="table mb-0 text-nowrap varient-table align-middle fs-7"
                >
                  <thead>
                    <tr>
                      <th scope="col" class="px-0 text-muted">SẢN PHẨM</th>
                      <th scope="col" class="px-0 text-muted">DANH MỤC</th>
                      <th scope="col" class="px-0 text-muted">ĐÃ BÁN</th>
                      <th scope="col" class="px-0 text-muted text-end">
                        DOANH THU
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="px-0">
                        <div class="d-flex align-items-center">
                          <img
                            src="../../public/asset/image/product01.png"
                            class="rounded"
                            width="50"
                            alt="Laptop XYZ Pro"
                          />
                          <div class="ms-3">
                            <h6 class="mb-0 fw-bolder">Laptop XYZ Pro</h6>
                          </div>
                        </div>
                      </td>
                      <td class="px-0">Laptop</td>
                      <td class="px-0">
                        <span class="text-dark fw-medium">150</span>
                      </td>
                      <td class="px-0 text-dark fw-medium text-end">
                        350.000.000 VNĐ
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0">
                        <div class="d-flex align-items-center">
                          <img
                            src="../../public/asset/image/product02.png"
                            class="rounded"
                            width="50"
                            alt="Điện thoại X1"
                          />
                          <div class="ms-3">
                            <h6 class="mb-0 fw-bolder">Điện thoại X1</h6>
                          </div>
                        </div>
                      </td>
                      <td class="px-0">Điện thoại</td>
                      <td class="px-0">
                        <span class="text-dark fw-medium">95</span>
                      </td>
                      <td class="px-0 text-dark fw-medium text-end">
                        190.000.000 VNĐ
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0">
                        <div class="d-flex align-items-center">
                          <img
                            src="../../public/asset/image/product03.png"
                            class="rounded"
                            width="50"
                            alt="Máy ảnh K200"
                          />
                          <div class="ms-3">
                            <h6 class="mb-0 fw-bolder">Máy ảnh K200</h6>
                          </div>
                        </div>
                      </td>
                      <td class="px-0">Máy ảnh</td>
                      <td class="px-0">
                        <span class="text-dark fw-medium">72</span>
                      </td>
                      <td class="px-0 text-dark fw-medium text-end">
                        144.000.000 VNĐ
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0">
                        <div class="d-flex align-items-center">
                          <img
                            src="../../public/asset/image/product04.png"
                            class="rounded"
                            width="50"
                            alt="Tai nghe Blutooth"
                          />
                          <div class="ms-3">
                            <h6 class="mb-0 fw-bolder">Tai nghe X-Sport</h6>
                          </div>
                        </div>
                      </td>
                      <td class="px-0">Phụ kiện</td>
                      <td class="px-0">
                        <span class="text-dark fw-medium">210</span>
                      </td>
                      <td class="px-0 text-dark fw-medium text-end">
                        52.500.000 VNĐ
                      </td>
                    </tr>
                    <tr>
                      <td class="px-0">
                        <div class="d-flex align-items-center">
                          <img
                            src="../../public/asset/image/product05.png"
                            class="rounded"
                            width="50"
                            alt="Đồng hồ thông minh"
                          />
                          <div class="ms-3">
                            <h6 class="mb-0 fw-bolder">Đồng hồ Smart 3</h6>
                          </div>
                        </div>
                      </td>
                      <td class="px-0">Phụ kiện</td>
                      <td class="px-0">
                        <span class="text-dark fw-medium">60</span>
                      </td>
                      <td class="px-0 text-dark fw-medium text-end">
                        48.000.000 VNĐ
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-0">Bình luận gần đây</h4>
            </div>
            <div
              class="comment-widgets scrollable mb-2 common-widget"
              style="max-height: 465px"
            >
              <div class="d-flex flex-row comment-row border-bottom p-3 gap-3">
                <div>
                  <span>
                    <img
                      src="../../public/asset/image/user-2.jpg"
                      class="rounded-circle"
                      alt="user"
                      width="50"
                    />
                  </span>
                </div>
                <div class="comment-text w-100">
                  <h6 class="fw-medium">Trần Minh Quân</h6>
                  <p class="mb-1 fs-10 text-muted">
                    Sản phẩm này tuyệt vời! Tôi đã nhận được hàng và rất hài
                    lòng với chất lượng.
                  </p>
                  <div class="comment-footer mt-2">
                    <div class="d-flex align-items-center">
                      <span class="badge bg-info-subtle text-info">
                        Đang chờ xử lý
                      </span>
                      <span class="action-icons">
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-pen-to-square fs-5"></i
                        ></a>
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-check fs-5"></i
                        ></a>
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-heart fs-5"></i
                        ></a>
                      </span>
                    </div>
                    <span
                      class="text-muted ms-auto fw-normal fs-10 d-block mt-2 text-end"
                      >Ngày 14 tháng 4 năm 2025</span
                    >
                  </div>
                </div>
              </div>

              <div
                class="d-flex flex-row comment-row border-bottom active p-3 gap-3"
              >
                <div>
                  <span>
                    <img
                      src="../../public/asset/image/user-2.jpg"
                      class="rounded-circle"
                      alt="user"
                      width="50"
                    />
                  </span>
                </div>
                <div class="comment-text active w-100">
                  <h6 class="fw-medium">Lê Thị Mai</h6>
                  <p class="mb-1 fs-10 text-muted">
                    Giao hàng nhanh chóng và đóng gói rất cẩn thận. Chắc chắn
                    tôi sẽ mua sắm tiếp tại đây!
                  </p>
                  <div class="comment-footer mt-2">
                    <div class="d-flex align-items-center">
                      <span class="badge bg-success-subtle text-success">
                        Đã được phê duyệt
                      </span>
                      <span class="action-icons active">
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-pen-to-square fs-5"></i
                        ></a>
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-circle-xmark fs-5"></i
                        ></a>
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-heart fs-5"></i
                        ></a>
                      </span>
                    </div>
                    <span
                      class="text-muted ms-auto fw-normal fs-10 text-end mt-2 d-block"
                      >Ngày 14 tháng 4 năm 2025</span
                    >
                  </div>
                </div>
              </div>

              <div class="d-flex flex-row comment-row border-bottom p-3 gap-3">
                <div>
                  <span>
                    <img
                      src="../../public/asset/image/user-2.jpg"
                      class="rounded-circle"
                      alt="user"
                      width="50"
                    />
                  </span>
                </div>
                <div class="comment-text w-100">
                  <h6 class="fw-medium">Nguyễn Văn Hiếu</h6>
                  <p class="mb-1 fs-10 text-muted">
                    Tôi nghĩ sản phẩm này có thể tốt hơn nếu có thêm tùy chọn
                    màu sắc khác.
                  </p>
                  <div class="comment-footer mt-2">
                    <div class="d-flex align-items-center">
                      <span class="badge bg-danger-subtle text-danger">
                        Đã bị từ chối
                      </span>
                      <span class="action-icons">
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-pen-to-square fs-5"></i
                        ></a>
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-check fs-5"></i
                        ></a>
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-heart fs-5"></i
                        ></a>
                      </span>
                    </div>
                    <span
                      class="text-muted ms-auto fw-normal fs-10 d-block mt-2 text-end"
                      >Ngày 14 tháng 4 năm 2025</span
                    >
                  </div>
                </div>
              </div>

              <div class="d-flex flex-row comment-row p-3 gap-3">
                <div>
                  <span>
                    <img
                      src="../../public/asset/image/user-2.jpg"
                      class="rounded-circle"
                      alt="user"
                      width="50"
                    />
                  </span>
                </div>
                <div class="comment-text w-100">
                  <h6 class="fw-medium">Phạm Thanh Xuân</h6>
                  <p class="mb-1 fs-10 text-muted">
                    Giá cả hợp lý, sẽ giới thiệu cho bạn bè. Cảm ơn shop!
                  </p>
                  <div class="comment-footer mt-2">
                    <div class="d-flex align-items-center">
                      <span class="badge bg-info-subtle text-info">
                        Đang chờ xử lý
                      </span>
                      <span class="action-icons">
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-pen-to-square fs-5"></i
                        ></a>
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-check fs-5"></i
                        ></a>
                        <a href="javascript:void(0)" class="ps-3"
                          ><i class="fa-solid fa-heart fs-5"></i
                        ></a>
                      </span>
                    </div>
                    <span
                      class="text-muted ms-auto fw-normal fs-10 d-block text-end mt-2"
                      >Ngày 14 tháng 4 năm 2025</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <h4 class="card-title mb-0">Báo cáo thời tiết</h4>
                <select class="form-select w-auto ms-auto">
                  <option selected="">Hôm nay</option>
                  <option value="1">Hàng tuần</option>
                </select>
              </div>
              <div class="d-flex align-items-center flex-row mt-4">
                <div class="p-2 display-5 text-primary">
                  <i class="fa-solid fa-cloud-showers-heavy"></i>
                  <span>73<sup>°</sup></span>
                </div>
                <div class="p-2">
                  <h3 class="mb-0">Thứ 7</h3>
                  <small>TP. Hồ Chí Minh, Việt Nam</small>
                </div>
              </div>
              <table class="table table-borderless fs-4">
                <tbody>
                  <tr>
                    <td>Gió</td>
                    <td class="fw-medium">ESE 17 dặm/giờ</td>
                  </tr>
                  <tr>
                    <td>Độ ẩm</td>
                    <td class="fw-medium">83%</td>
                  </tr>
                  <tr>
                    <td>Áp suất</td>
                    <td class="fw-medium">28.56 in</td>
                  </tr>
                  <tr>
                    <td>Độ che phủ mây</td>
                    <td class="fw-medium">78%</td>
                  </tr>
                  <tr>
                    <td>Độ cao trần mây</td>
                    <td class="fw-medium">25760 ft</td>
                  </tr>
                </tbody>
              </table>
              <hr />
              <ul class="list-unstyled row text-center city-weather-days mb-0">
                <li class="col fs-5">
                  <i class="fa-solid fa-sun fs-5 me-2"></i><span>09:30</span>
                  <h3 class="mb-0 mt-2 fs-6 lh-base">70<sup>°</sup></h3>
                </li>
                <li class="col fs-5">
                  <i class="fa-solid fa-cloud fs-5 me-2"></i><span>11:30</span>
                  <h3 class="mb-0 mt-2 fs-6 lh-base">72<sup>°</sup></h3>
                </li>
                <li class="col fs-5">
                  <i class="fa-solid fa-cloud-rain fs-5 me-2"></i
                  ><span>13:30</span>
                  <h3 class="mb-0 mt-2 fs-6 lh-base">75<sup>°</sup></h3>
                </li>
                <li class="col fs-5">
                  <i class="fa-solid fa-cloud-showers-heavy fs-5 me-2"></i
                  ><span>15:30</span>
                  <h3 class="mb-0 mt-2 fs-6 lh-base">76<sup>°</sup></h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 px-6 text-center">
        <span class="copyright">
          Bản quyền &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Tất cả quyền được bảo lưu | Mẫu này được tạo bởi Hùng & Phong
        </span>
      </div>
    </div>
  </div>
</div>
