<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li>
          <a href="#"><i class="fa-solid fa-phone"></i> +021-95-51-84</a>
        </li>
        <li>
          <a href="#"><i class="fa-regular fa-envelope"></i> email@email.com</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-location-dot"></i> 613 Âu Cơ</a>
        </li>
      </ul>
      <ul class="header-links pull-right">
        <li>
          <a href="#"><i class="fa-solid fa-dong-sign"></i> VND</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link p-0"
            href="#"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="../public/asset/image/user-1.jpg"
              alt="User"
              width="35"
              height="35"
              class="rounded-circle"
            />
          </a>
          <div
            class="dropdown-menu dropdown-menu-end p-2"
            aria-labelledby="userDropdown"
            style="min-width: 220px"
          >
            <div class="message-body">
              <a
                href="../public/account_profile.php"
                class="dropdown-item d-flex align-items-center gap-2 text-dark"
              >
                <i class="fa fa-user text-secondary"></i>
                <span>Hồ sơ của tôi</span>
              </a>
              <a
                href="./order_history.php"
                class="dropdown-item d-flex align-items-center gap-2 text-dark"
              >
                <i class="fa-solid fa-list-check text-secondary"></i>
                <span>Lịch sử đơn hàng</span>
              </a>
              <hr class="dropdown-divider" />

              <a
                href="../public/logout.php"
                class="sidebar-link btn btn-outline-danger mx-2 mt-2 d-block text-dark"
                onclick="return confirm('Bạn có chắc chắn muốn đăng xuất không?');"
              >
                <i class="fa fa-sign-out-alt"></i>
                Đăng xuất
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="header-logo">
            <a href="../public/index.php" class="logo">
              <img
                src="../public/asset/image/logo.png"
                alt="logo"
                class="img-fluid custom-logo-size"
              />
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="header-search">
            <form id="search-form">
              <select class="input-select" id="search-category">
                <option value="all">Tất cả</option>
                <option value="Laptop">Laptop</option>
                <option value="Điện thoại">Điện thoại</option>
                <option value="Máy ảnh">Máy ảnh</option>
                <option value="Phụ kiện">Phụ kiện</option>
              </select>
              <input
                class="input"
                placeholder="Tìm kiếm tại đây"
                id="search-input"
              />
              <button class="search-btn" type="submit">Tìm kiếm</button>
            </form>
          </div>
        </div>
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <div class="dropdown">
              <a href="../public/cart.php">
                <i class="fa fa-shopping-cart"></i>
                <span>Giỏ hàng</span>
                <div class="qty">2</div>
              </a>
            </div>
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<nav id="navigation">
  <div class="container">
    <div id="responsive-nav">
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a href="../public/index.php">Trang chủ</a></li>
        <li><a href="../public/product_list.php?category=all">Danh mục</a></li>
        <li><a href="../public/product_list.php?category=Laptop">Laptop</a></li>
        <li>
          <a href="../public/product_list.php?category=Điện thoại"
            >Điện thoại</a
          >
        </li>
        <li>
          <a href="../public/product_list.php?category=Máy ảnh">Máy ảnh</a>
        </li>
        <li>
          <a href="../public/product_list.php?category=Phụ kiện">Phụ kiện</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
