<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <a href="../admin/admin_dashboard.php"
            ><img
              src="../asset/image/logo.png"
              alt="Logo"
              class="img-fluid custom-logo-size"
              style="height: auto !important; width: auto"
          /></a>
        </div>
        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block"
            ><i class="bi bi-x bi-middle"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
        <li class="sidebar-title">Danh mục</li>
        <li class="sidebar-item">
          <a href="../admin/admin_dashboard.php" class="sidebar-link">
            <i class="bi bi-grid-fill"></i>
            <span>Bảng điều khiển</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a href="../admin/revenue_report.php" class="sidebar-link">
            <i class="fa-solid fa-square-poll-vertical"></i>
            <span>Doanh thu</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a href="../admin/employees.php" class="sidebar-link">
            <i class="bi bi-people-fill"></i>
            <span>Nhân viên</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a href="../admin/order_management.php" class="sidebar-link">
            <i class="fa-solid fa-receipt"></i>
            <span>Đơn hàng</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a href="../admin/product_management.php" class="sidebar-link">
            <i class="fa-solid fa-box"></i>
            <span>Sản phẩm</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a href="../admin/reviews.php" class="sidebar-link">
            <i class="fa-regular fa-comment"></i>
            <span>Đánh giá</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a href="../admin/users.php" class="sidebar-link">
            <i class="fa-regular fa-user"></i>
            <span>Người dùng</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a href="../admin/voucher_management.php" class="sidebar-link">
            <i class="fa-solid fa-ticket"></i>
            <span>Phiếu giảm giá</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="../admin/admin_profile.php" class="sidebar-link">
            <i class="fa fa-user"></i>
            <span>Hồ sơ của tôi</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a
            href="../logout.php"
            class="sidebar-link"
            onclick="return confirm('Bạn có chắc chắn muốn đăng xuất không?');"
          >
            <i class="fa fa-sign-out-alt"></i>
            <span>Đăng xuất</span>
          </a>
        </li>
      </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>
<div id="main">
  <header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>
</div>
